/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  min-height: 1080px;
}
header {
  height: 25vh;
  display: flex;
  justify-content: space-around;
}
header #backgroundimg {
  opacity: 85%;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 25vh;
}
header #backgroundimg a img {
  width: 100%;
}
header #titles {
  color: white;
  align-self: center;
  max-height: 20vh;
}
header #titles h1 {
  text-shadow: 2px 2px 10px #000801;
  font-weight: bold;
  font-size: 3rem;
}
header #titles h2 {
  background-color: blue;
  font-size: 2rem;
  margin: 5% 0;
}
header #propic {
  z-index: 3;
  margin-top: 1%;
  width: 20%;
}
header #propic img {
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 1500px) {
  header #backgroundimg {
    height: 25vh;
  }
  header #titles h1 {
    font-size: 2.5rem;
  }
  header #titles h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  header {
    height: 20vh;
  }
  header #backgroundimg {
    height: 20vh;
  }
  header #titles h1 {
    font-size: 2rem;
  }
  header #titles h2 {
    font-size: 1rem;
  }
}
section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
section #left {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
section #left p {
  margin: 5% 2%;
  letter-spacing: 20%;
  line-height: 1.5rem;
  width: 90%;
}
section #left h3 {
  font-weight: bold;
  font-size: 180%;
  margin-bottom: 3%;
}
section #left #nav {
  width: 100%;
}
section #left #nav nav {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  font-size: 110%;
}
section #left #nav nav .current {
  color: #ff9999;
}
section #left #nav nav a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
section #left #nav nav a:hover {
  color: lightblue;
}
section #left h4 {
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1%;
}
section #left div {
  width: 90%;
}
section #right {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
  width: 70%;
  z-index: 0;
  background-color: #000801;
}
section #right p {
  margin: 5% 2%;
  letter-spacing: 20%;
  line-height: 1.5rem;
  width: 90%;
}
section #right h3 {
  font-weight: bold;
  font-size: 180%;
  margin-bottom: 3%;
}
section #right #conta {
  width: 80%;
  text-align: center;
}
section #right #rowen {
  width: 90%;
}
section #right h3 {
  color: #ffff96;
}
section #right p {
  color: white;
}
@media (max-width: 1500px) {
  section #left #nav {
    margin-bottom: 2%;
  }
  section #right {
    width: 100%;
  }
}
@media (max-width: 950px) {
  section {
    display: flex;
    flex-flow: column wrap;
  }
  section #right {
    width: 150%;
  }
}
@media (max-width: 800px) {
  section {
    display: flex;
    flex-flow: column wrap;
  }
  section #left nav {
    margin-bottom: 0;
  }
  section #right {
    width: 200%;
  }
}
